
<!DOCTYPE html>
<meta charset="utf-8">
<script src="https://d3js.org/d3.v4.min.js"></script>

<style>
	.axis text {
	font-family: 'Open Sans', sans-serif;
	font-size: 10pt;
	}
	.axis .label {
	font-size: 10pt;
	}

	.axis path, .axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
	}

	.x.axis text {
	font-size: 10pt;
	}
  
	#tooltip2 {
	position: absolute;
	text-align: center;
	}
</style>
	
<div id="tooltip2"></div>
<div id="barchart2"></div>
<script>
      var outerWidth = 760;
      var outerHeight = 500;
      var margin = { left: 90, top: 16, right: 30, bottom: 85 };
      var barPadding = 0.2;

      var xColumn = "EmployerName";
      var yColumn = "Count";
      var colorColumn = "EmployerName";

      var innerWidth  = outerWidth  - margin.left - margin.right;
      var innerHeight = outerHeight - margin.top  - margin.bottom;

      var svg_c4 = d3.select("#barchart2").append("svg")
        .attr("width",  outerWidth)
        .attr("height", outerHeight);
      var g_c4 = svg_c4.append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
      var xAxisG = g_c4.append("g")
        .attr("class", "x axis")
        .attr("transform", "translate(0," + innerHeight + ")");
      var yAxisG = g_c4.append("g")
        .attr("class", "y axis");

      
	  var tooltip2 = d3.select("#tooltip2");


      function render_c4(data){

	    var xScale = d3.scaleBand().domain(data.map( function (d){ return d[xColumn]; })).range([0, innerWidth], barPadding);
        var yScale = d3.scaleLinear().domain([0, d3.max(data, function (d){ return d[yColumn]; })]).range([innerHeight, 0]);
        // var colorScale = d3.scale.category20();
	    var colorScale = d3.scaleOrdinal(d3.schemeCategory20);
		colorScale.domain(data.map(function (d){ return d[colorColumn]; }));
        
		var xAxis = d3.axisBottom(xScale);
        var yAxis = d3.axisLeft(yScale);
	

        yAxisG.call(yAxis);

        var bars = g_c4.selectAll("rect").data(data);
        bars.enter().append("rect")
          .attr("width", xScale.bandwidth())
          .attr("x", function (d){ return xScale(d[xColumn]); })
          .attr("y", function (d){ return yScale(d[yColumn]); })
          .attr("height", function (d){ return innerHeight - yScale(d[yColumn]); })
          .attr("fill", function (d){ return colorScale(d[colorColumn]); })
		  .on("mouseover", function(d) {
        tooltip2.style("opacity", 1)
               .style("left",(d3.event.pageX)+"px")
               .style("top",(d3.event.pageY)+"px")
               .html("Employer:"+d[xColumn]+"\n"+",Count:"+d[yColumn]);
        })
        .on("mouseout", function() { tooltip2.style("opacity", 0) })

        bars.exit().remove();
      }

      function type_c4(d){
        d.population = +d.population;
        return d;
      }

      d3.csv("barchart_2.csv", type_c4, render_c4);

</script>

